<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<section layout:fragment="content" class="flex-1 justify-center items-center">
    <div class="container reviewCreate-box">
        <div class="card w-[100%]">
            <div class="create-form">
                <div class="title-box">
                    <h1>봉사활동 > 후기작성</h1>
                </div>
                <div class="reviewCreate-input">
                    <form th:action="@{/volunteer/review/create}" method="POST" onsubmit="reviewSubmitButton(this); return false;" enctype="multipart/form-data">
                        <div class="type-box name-box">
                            <span class="font-weight">제목<span class="text-red-600">*</span></span>
                            <input type="text" id="title" maxlength="200" name="title" placeholder="제목을 입력하세요.">
                        </div>
                        <div class="type-box img-box">
                            <span>대표 이미지<span class="text-red-600">*</span></span>
                            <div class="input-box">
                                <input class="file-box" type="file" name="thumbnailImg" onchange="previewImage(event)">
                            </div>
                        </div>
                        <div class="type-box detail-img-box">
                            <span>첨부 이미지</span>
                            <div id="imageContainer">
                                <div class="input-box">
                                    <input class="file-box" type="file" name="subImg">
                                    <span class="add-button" onclick="addImageInput()"><i class="fa-solid fa-plus"></i>추가</span>
                                    <span class="text-red-600">(※ 첨부 이미지는 최대 3장이며, 게시글 최상단에 배치됩니다.)</span>
                                </div>
                            </div>
                        </div>
                        <div class="type-box content-box">
                            <span>내용<span class="text-red-600">*</span></span>
                            <textarea name="body" id="body" class="form-control" rows="9" placeholder="내용을 입력하세요."></textarea>
                        </div>
                        <div class="type-box signup-btn flex justify-center">
                            <button class="btn btn-primary cancel" type="button" onclick="if(confirm('봉사후기 등록을 취소하시겠습니까?')) { window.location.href='/volunteer/review'; }">취소</button>
                            <button class="btn btn-primary check" type="submit" id="submitButton">등록</button>
                        </div>
                        <div class="absolute-box">
                            <img id="preview" th:src="@{/images/default_img.png}" alt="대표이미지 미리보기">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</html>