<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<section layout:fragment="content" class="section-prod-list">
    <div class="container review-detail">
        <div class="card top-box">
            <div class="detail-box">
                <span th:text="${volunteerReview.title}"></span>
                <div class="flex-box">
                    <div class="description-box">
                        <span th:text="'작성자 : ' + ${volunteerReview.writer.nickname}"></span>
                        <span class="bar">|</span>
                        <span th:text="'최초 작성일 : ' + ${#temporals.format(volunteerReview.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                        <span class="bar">|</span>
                        <span th:text="'조회수 : ' + ${volunteerReview.hit}"></span>
                        <span class="bar">|</span>
                        <a class="btn btn-link" th:href="@{/volunteer/review}">목록보기</a>
                    </div>
                    <div class="btn-box">
                        <a th:href="@{|/volunteer/review/modify/${volunteerReview.id}|}"
                           th:if="${#authorization.expression('isAuthenticated()')} and (${member.authority} == 0 or (${volunteerReview.writer.username} == ${member.username}))"
                           onclick="return reviewModify();">수정</a>
                        <a th:href="@{|/volunteer/review/delete/${volunteerReview.id}|}"
                           th:if="${#authorization.expression('isAuthenticated()')} and (${member.authority} == 0 or (${volunteerReview.writer.username} == ${member.username}))"
                           onclick="return reviewDelete();">삭제</a>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="subImg-box" th:each="subImage : ${volunteerReview.subImages}">
                    <img th:src="@{${subImage}}" alt="첨부 이미지">
                </div>
                <div class="body-box">
                    <span th:utext="${volunteerReview.formattedBody}"></span>
                </div>
            </div>
        </div>
    </div>
</section>
</html>