.signup-box {
    width: 100%;
    height: 100%;
    display: flex;
}

.signup-box > .card {
    height: 100%;
    display: flex;
}

.signup-box > .card-img {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    height: 100%;
    display: flex;
}

.signup-box > .card-img > .img-box {
    height: 100%;
}

.signup-box > .card-img > .img-box > img {
    width: 100%;
    height: 100%;
}

/* 회원가입 입력 폼 */
.signup-form {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-basis: 0;
    height: 100%;
}

.signup-form > .title-box {
    display: flex;
    align-items: center;
    height: 90px;
    padding-left: 100px;
}

.signup-form > .title-box > h1 {
    font-size: 24px;
    font-weight: 700;
}

.signup-form > .title-box > span {
    margin-left: 20px;
    color: red;
}

.signup-form > .input-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

/* 권한 버튼 커스텀 */
/* 폼 커스텀 */
.input-box > form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.input-box > form > .type-box {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
}

.input-box > form > .type-box > span {
    font-weight: 700;
    font-size: 18px;
    width: 150px;
    text-align: left;
}

.input-box > form > .type-box > input {
    border: 1px solid #121212;
    border-radius: 5px;
    height: 70%;
    width: 400px;
    padding-left: 10px;
}

.input-box > form > .type-box > select {
    border: 1px solid #121212;
    border-radius: 5px;
    width: 400px;
    padding : 8px 0px 8px 10px;
}

.input-box > form > .id-box > input {
    width: 320px;
}

.input-box > form > .id-box > button {
    margin-left: 10px;
    border: 1px solid #FF416C;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
    background-color: #FF416C;
    color: #fff;
    padding: 10px;
}

.input-box > form > .type-box > .file-box {
    border: 0px;
    height: 50%;
}

.input-box > form > .signup-btn > button {
    background-color: #FF416C;
    border: 1px solid transparent;
    padding: 5px 20px 5px 20px;
    margin-bottom: 10px;
    margin-left: 150px;
}

.input-box > form > .signup-btn > .cancel {
    margin-right: 20px;
}

.input-box > form > .signup-btn > .check {
    margin-left: 20px;
}

/* 반응형 시작 */
@media (max-width: 394px) {
    .signup-box {
        display: block;
        width: 100%;
        height: 100%;
    }

    .signup-box > .card-img {
        width: 100%;
        height: 200px;
    }

    .signup-box > .card-img > .img-box {
        width: 100%;
        height: 100%;
    }

    .signup-box > .card-img > .img-box > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* 회원가입 입력 폼 */
    .signup-box > .card {
        height: 680px !important;
    }

    .signup-box > .card > .signup-form {
        height: 100%;
        display: block !important;
    }

    .signup-form > .title-box {
        height: 50px !important;
        padding-left: 5px !important;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .signup-form > .title-box > h1 {
        font-size: 16px !important;
        font-weight: 700;
        margin-top: 15px;
        width: 100%;
        text-align: left;
    }

    .signup-form > .title-box > span {
        margin-left: 0;
        width: 100%;
        text-align: left;
        font-size: 13px;
    }

    .signup-form > .input-box {
        height: 630px;
        padding-left: 5px !important;
    }

    /* 권한 버튼 커스텀 */
    /* 폼 커스텀 */
    .input-box > form {
        display: block;
        height: 100%;
    }

    .input-box > form > .type-box {
        width: 100%;
        height: 60px;
    }

    .input-box > form > .type-box > span {
        font-weight: 700;
        font-size: 13px;
        margin-right: 0 !important;
        width: 88px;
    }

    .input-box > form > .type-box > input {
        border: 1px solid #121212;
        border-radius: 5px;
        height: 70%;
        width: 200px;
        padding-left: 10px;
    }

    .input-box > form > .id-box > button {
        font-size: 11px;
    }

    .input-box > form > .type-box > select {
        border: 1px solid #121212;
        border-radius: 5px;
        width: 200px;
        padding : 8px 0px 8px 10px;
    }
}